
#show, #showing, #stop {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #555;
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
}

#show{
    padding: 50px;
    display: none;
}
